*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
section{
    padding: 4rem 0;
}
.nav-container,
.intro,
.skills-container,
.projects-container,
.contact-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 1.5rem;
}
.nav-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 3px solid blue;
}

.hamburger-btn{
    background: none;
    border: none;
    cursor: pointer;
}
.hamburger-bar{
    display: block;
    width: 30px;
    height: 3px;
    background-color: darkgray;
    margin: 5px;
}
.nav-menu{
    position: absolute;
    display: none;
}
.intro{
    display: flex;
    flex-direction: column;
    border: 3px solid blue;
    background-color: rgba(237, 237, 245, 0.7);
    align-items: center;
    
}
.intro-text{
    text-align: center;
    
}
.intro-text > h1 {
    margin-bottom:1rem;
}
.intro-text >p{
    margin-bottom: 1rem;
}
.btn-get{
    display: inline-block;
    margin-bottom: 1rem;
    background-color: cornflowerblue;
    color: aliceblue;
    padding: 10px 10px;
    border-radius: 8px;
    text-decoration: none;
}

.profile-img img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

